Debug
Backup
_UpgradeReport_Files
*.swp
*~
*.sdf
*.suo
*.opensdf

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
